@tailwind base;
@tailwind components;
@tailwind utilities;



.gradient-01 {
  position: absolute;
  left: -112px;
  top: 1271.73px;
  width: 276px;
  height: 1331.27px;
  background: linear-gradient(60%, #2954A3 100%, #0F103F 100%);
  filter: blur(250px);
}

.gradient-02 {
  position: absolute;
  left: 1300px;
  top: 1321.49px;
  width: 299px;
  height: 1269.06px;
  background: linear-gradient(60deg, #2D0745);
  filter: blur(250px);
}

.gradient-03{
  position: absolute;
    width: 330px;
    height: 850.06px;
    background: #2D0745;
    filter: blur(250px);
}

.wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  
}

/* .wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transform-origin: 16vw 0;
  transform: scaleX(1.61803);
} */

@media (max-width: 48rem) {
  .wrapper::before {
    /* background-image: radial-gradient(circle at bottom left, black, black 16vw, red 16vw, red 17vw, orange 17vw, orange 18vw, yellow 18vw, yellow 19vw, green 19vw, green 20vw, blue 20vw, blue 21vw, purple 21vw, purple 22vw, black 22vw); */
  }
}

@media (min-width: 48rem) {
  .wrapper::before {
    /* background-image: radial-gradient(circle at bottom left, black, black 10vw, red 10vw, red 11vw, orange 11vw, orange 12vw, yellow 12vw, yellow 13vw, green 13vw, green 14vw, blue 14vw, blue 15vw, purple 15vw, purple 16vw, black 16vw); */
  }
}

.content {
  --text-size: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
  position: relative;
  /* The + symbol takes up less space even though it's monospace. This helps it look more balanced.
  Btw: did you notice I love the golden ratio! */
  /* left: 1.61803vw; */
  padding: 0;
  margin: 0;
  font-family: 'Fira Mono', monospace;
  /* font-size: var(--text-size); */
  font-weight: 600;
  letter-spacing: 0.333ch;
  background-image: linear-gradient(to right, red, orange,yellow,green,blue,purple);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
    opacity: 0.4; 

  
}

/* These are non-standard but well-supported so best to use with `@supports` (if you really want to use them) */
@supports (text-stroke: 0.1em transparent) {
  .content {
    /* I could have used `@supports not` but isn't supported by all browsers... So we're overriding color + font-weight here for best support */
    color: initial;
    font-weight: 500;
    text-stroke: 0.1em transparent
  }
}

@supports (-webkit-text-stroke: 0.1em transparent) {
  .content {
    color: initial;
    font-weight: 500;
    -webkit-text-stroke: 0.1em transparent
  }
}

/* .faq{
  width: 60%;
} */

.vid-bg {
  background-image: url('/videobg.svg');
  width: 85%;
}

.cuboid-container {
  perspective: 1200px;
  margin: 100px auto;
  width: 200px;
  height: 200px;
}

.cuboid {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: spin 10s linear infinite;
}

.front,
.back,
.top,
.bottom,
.left,
.right {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  background: #3498db;
  border: 1px solid #2980b9;
}

.back {
  transform: rotateY(180deg);
}

.top {
  transform: rotateX(90deg);
}

.bottom {
  transform: rotateX(-90deg);
}

.left {
  transform: rotateY(-90deg);
}

.right {
  transform: rotateY(90deg);
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.grad1 {
  background-image: radial-gradient(#2954A3,#0F103F, #000000);
}